<%- include('layouts/header.ejs') %>
 <%- include('layouts/navigation.ejs') %>
    

    <!--About me-->
    
    <img src="p1.jpg" alt="Mohammed Ali Kunda" style="height: 2.5in; margin: 0.7in 0.2in 1in 0.4in; float: left; border-radius: 3%">
    <p style="margin:5% 6% 2% 20%; color: black;font-size: larger; border:thick,black;font-size: 22px; padding: 1%; border: black solid 2px ; border-radius: 5%; background:mistyrose;">
      Hi, my name is <i>Mohammed Ali</i>, I am Junior computer science major at <a href="https://www.tamusa.edu">Texas A&M University-San Antonio</a>. 
      I chose computer science as a major because I was very interested in techincal stuff of how computer and other devices works. 
      I'm also interested in web app developing, mobile app developing, machine leanring as well as cyber security.This is my first web site created as project 
      for Web App developement class. I will be upload some more content soon as the soon is at intial stage.  Please share your experience
       and let me know any suggestions you have for me in <a href="send e-mail.html">contact</a>   </p>
       <h5>My Computer science classes</h5>
       <ul style="margin-left: 18%;">
        <li style="margin-right: 10%;";>Algorithm       </li>
        <li>Computer Architure</li>
        <li>Cyber security</li>
        <li>Discrete Computing</li>
        <li>Computer Organization</li>
        <li>Programming fundamentals(java, c++)</li>
      </ul>
      <!--/About me-->
      <h5 style="margin-left:17.5%; margin-top: 2%;">Strengths</h5>
      <div class="container">
        <div class="row" style="margin-left: 10%;">
          <div class="col"style="
          background-image: linear-gradient(
            to right,
            rgb(231, 117, 23),
            rgb(245, 204, 24)
          );
          text-align: center;
          margin: 5px;
          width: 50%;
          height: 0.5in;
          padding-top: 10px;
          
        ">
            <b>Futuristic</b>
          </div>
          <div class="col-6"style="
          background-image: linear-gradient(
            to right,
            rgb(231, 117, 23),
            rgb(245, 204, 24)
          );
          text-align: center;
          margin: 5px;
          width: 50%;
          height: 0.5in;
          padding-top: 10px;
        ">
            <b>Critical thinker</b>
          </div>
          <div class="col"style="
          background-image: linear-gradient(
            to right,
            rgb(231, 117, 23),
            rgb(245, 204, 24)
          );
          text-align: center;
          margin: 5px;
          width: 50%;
          height: 0.5in;
          padding-top: 10px;
        ">
           <b> Analytical</b>
          </div>
        </div>
        <div class="row" style="margin-left: 10%; border-radius: 30%;">
          <div class="col"style="
          background-image: linear-gradient(
            to right,
            rgb(231, 117, 23),
            rgb(245, 204, 24)
          );
          text-align: center;
          margin: 5px;
          width: 50%;
          height: 0.5in;
          padding-top: 10px;
        ">
            <b>Strategic</b>
          </div>
          <div class="col-5"style="
          background-image: linear-gradient(
            to right,
            rgb(231, 117, 23),
            rgb(245, 204, 24)
          );
          text-align: center;
          margin: 5px;
          width: 50%;
          height: 0.5in;
          padding-top: 10px;
        ">
          <b>  Quick Learner</b>
          </div>
          <div class="col"style="
          background-image: linear-gradient(
            to right,
            rgb(231, 117, 23),
            rgb(245, 204, 24)
          );
          text-align: center;
          margin: 5px;
          width: 50%;
          height: 0.5in;
          padding-top: 10px;
        ">
          <b> Creative</b>
          </div>
        </div>
      </div>

      <br><br><br>

      <!-- Footer -->
    </p>

    <footer class="page-footer font-small special-color-dark pt-4">
      <!-- Footer Elements -->
      <div class="container">
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-instagram"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->
      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2021 Copyright:
        <a href="https://mdbootstrap.com/"> MohammedAli.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!--/Footer-->

    <!-- End your project here-->
    
    <%- include('layouts/footer.ejs') %>