<%- include('layouts/header.ejs') %> 
<%- include('layouts/navigation.ejs') %>

<h1 style="text-align: center; margin-top: 10px">Follow me Social media!</h1>
<table
  style="
    width: 70%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10%;

    border: black double 1.5px;
  "
>
  <tr>
    <th style="padding-bottom: 50px">
      <a href="https:www.facebook.com"
        ><img
          src="facebook.png"
          alt="fa-facebook-f"
          style="width: 123px; height: 127px; margin-left: 19%; margin-top: 5%"
      /></a>
    </th>
    <th style="padding-bottom: 50px">
      <a href="https:www.instragram.com"
        ><img
          src="instragram.png"
          alt="fa-instagram"
          style="width: 131px; height: 140px; margin-left: 35%; margin-top: 5%"
      /></a>
    </th>

    <th style="padding-bottom: 50px">
      <a href="https:www.twitter.com"
        ><img
          src="twiiter.png"
          alt="fa-twitter"
          style="width: 150px; height: 124px; margin-left: 45%; margin-top: 5%"
      /></a>
    </th>
  </tr>
  <tr>
    <td>
      <a href="https:www.github.com"
        ><img
          src="github.png"
          alt="githube"
          style="
            width: 140px;
            height: 133px;
            margin-left: 16%;
            margin-bottom: 7%;
          "
      /></a>
    </td>
    <td>
      <a href="https://www.linkedin.com/in/mohammed-ali-kunda-59a283183/"
        ><img
          src="Linkedin-logo-icon-png.png"
          alt="fa-linkedin-in"
          style="
            width: 120px;
            border-radius: 20%;
            margin-left: 35%;
            margin-bottom: 7%;
          "
      /></a>
    </td>
    <td>
      <a href="https:www.gmail.com"
        ><img
          src="Google.png"
          alt="google"
          style="
            width: 133px;
            height: 130px;
            border-radius: 20%;
            margin-left: 45%;
            margin-bottom: 7%;
          "
      /></a>
    </td>
  </tr>
</table>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="https://mdbootstrap.com/"> MohammedAli.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!--/Footer-->

<!-- End your project here-->

<%- include('layouts/footer.ejs') %>
