<%- include('layouts/header.ejs') %> <%- include('layouts/navigation.ejs') %>

<h3
  style="
    text-align: center;
    margin-top: 5%;
    background-image: linear-gradient(to right, orange, red);
    width: 83%;
    height: 0.5in;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5%;
  "
>
  Additional Resources for Computer science major
</h3>
<div class="container" style="text-align: center; margin-left: 7%">
  <div class="row">
    <div class="col-sm" style="margin-top: 3%; margin-bottom: 2%">
      Python
      <iframe
        width="353"
        height="280"
        style="margin-left: 3%; margin-top: 2%; margin-bottom: 3%"
        src="https://www.youtube.com/embed/_uQrJ0TkZlc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-sm" style="margin-top: 3%">
      Web Devlpement
      <iframe
        width="353"
        height="280"
        style="margin-left: 3%; margin-top: 2%; margin-bottom: 3%"
        src="https://www.youtube.com/embed/pQN-pnXPaVg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-sm" style="margin-top: 3%">
      Java
      <iframe
        width="353"
        height="280"
        style="margin-left: 3%; margin-top: 2%; margin-bottom: 3%"
        src="https://www.youtube.com/embed/grEKMHGYyns"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="row" style="width: 11.6in; margin-left: 0.9%; height: 3in">
    <div
      class="col-sm"
      style="
        margin-top: 2%;
        margin-right: 2.5%;
        margin-bottom: 2%;
        background: silver;
        padding-top: 10%;
      "
    >
      Coming Soon!
    </div>
    <div
      class="col-sm"
      style="
        margin-top: 2%;
        margin-right: 2.5%;
        margin-bottom: 2%;
        background: silver;
        padding-top: 10%;
      "
    >
      Coming soon!
    </div>
    <div
      class="col-sm"
      style="
        margin-top: 2%;
        margin-bottom: 2%;
        background: silver;
        padding-top: 10%;
      "
    >
      Coming soon!
    </div>
  </div>
</div>

<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="https://mdbootstrap.com/"> MohammedAli.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!--/Footer-->

<!-- End your project here-->

<%- include('layouts/footer.ejs') %>
