<%- include('layouts/header.ejs') %> <%- include('layouts/navigation.ejs') %>

<!--Text area-->
<div class="form-group shadow-textarea">
  <label
    for="exampleFormControlTextarea6"
    style="
      font-size: 50px;
      color: black;
      text-align: center;
      background-color: rgb(29, 108, 212);
      padding-top: 1.2%;
      padding-bottom: 1%;
      padding-left: 26%;
      padding-right: 27.399%;
      color: white;
      background-attachment: fixed;

      margin-top: 3%;
      margin-left: 14%;
      margin-bottom: 0%;
    "
    ><h2><b> Any suggestions?</b></h2></label
  >
  <br /><br />
  <textarea
    class="form-control z-depth-1"
    id="exampleFormControlTextarea6"
    rows="3"
    placeholder="Please feel free to give any suggestion that can improve user experience in the website during your visit! Thank you." name="suggest"
    style="width: 10.1in; height: 2.5in; margin-left: auto; margin-right: auto"
  ></textarea>
</div>
<div style="margin-left: 15%">
  <input
    type="submit"
    value="Submit"
    style="
      font-size: 22.5px;
      margin-top: 0.2in;
      background-color: rgb(233, 234, 243);
      color: black;

      border-radius: 5px;
    "
  />
  <input
    type="reset"
    style="
      font-size: 22.4px;
      margin-top: 0.2in;
      margin-left: 3px;
      color: black;
      border-radius: 5px;
    "
  />
</div>
<br /><br />

<!--Text area-->

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="https://mdbootstrap.com/"> MohammedAli.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!--/Footer-->

<!-- End your project here-->

<%- include('layouts/footer.ejs') %>
